.bodyEdu {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #E5BED3;
    color: #136A6A;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-shadow: 2px 2px 8px #ff61b5;
    text-align: center;
}
.UKM {
    display: flex;
    align-items: center;
    background-color: #FCBC70;
    border-radius: 20px;
    width: 600px;
    padding: 20px;
}
.UKM img {
    width: auto;
    height: 200px;
    padding: 10px;
}
.textsUKM{
    margin: 0;
}
.textsUKM p {
    margin-top: 0;
    margin-bottom: 0;
}
.textsUKM h2 {
    margin-top: 0;
}
.cgpaUKM {
    margin-bottom: 0;
}