@font-face {
    font-family: 'MyFont';
    src: url('/fonts/JuliusSansOne-Regular.ttf') format('truetype');
}
body {
    height: 100vh;
    background: linear-gradient(to top, #E5BED3, #FCBC70);
    font-family: 'MyFont', Verdana;
    margin: 0;
    overflow-x: hidden;
}
.header_ {
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1000;
}
header {
    color: rgb(7, 54, 55);
    padding: 20px 0px 20px 0px;
}
.navbar {
    display: flex;
    
    justify-content: space-around;
}
.navlink {
    display: flex;
    justify-content: center;
    list-style: none;
    margin:0;
    padding: 0;
}
nav ul li {
    margin: 0;
    padding: 10px 20px; /* Adjust padding for each item */
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #136A6A
}
footer a em {
    transition:color 0.3s ease;
}
footer a em:hover {
    color: black;
}