@font-face {
    font-family: 'MyFont';
    src: url('fonts/JuliusSansOne-Regular.ttf') format('truetype');
}
body {
    height: 100vh;
    background: linear-gradient(to top, #E5BED3, #FCBC70);
    font-family: 'MyFont', Verdana;
    margin: 0;
    overflow-x: hidden;
}
.header_ {
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1000;
}
header {
    color: rgb(7, 54, 55);
    padding: 20px 0px 20px 0px;
}
.navbar {
    display: flex;
    
    justify-content: space-around;
}
.navlink {
    display: flex;
    justify-content: center;
    list-style: none;
    margin:0;
    padding: 0;
}
nav ul li {
    margin: 0;
    padding: 10px 20px; /* Adjust padding for each item */
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #136A6A
}
footer a em {
    transition:color 0.3s ease;
}
footer a em:hover {
    color: black;
}
.footerDiv div h4{
    white-space: nowrap; /*prevents the text from breaking into multiple lines*/
    overflow: hidden; /*hide test until revealed by animation*/
    border-right: 2px solid black; /*simulates typing cursor*/
    width: 0; /*starts from 0*/
    animation: typing 3.5s steps(21, end) infinite, blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from { width: 0;}
    to { width: 15%;}
}
@keyframes blink-caret {
    from, to { border-color: transparent;}
    50% { border-color: black;}
}