.educationSection {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background:linear-gradient(to top, #FCBC70, #E5BED3);
}
.containerEdu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 500;
}
.edu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #FCBC70;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 6px 6px 30px gray;
    text-align: center;
    transition: transform ease 0.3s;
}
.edu:hover {
    transform: scale(1.1);
}
.edu img {
    max-width: 100px;
    max-height: auto;
}
.texts {
    padding: 10px 10px 0px 10px;
    font-size: 14px;
}
.texts h2 {
    padding-bottom: 10px;
}
#hanyang-texts {
    padding-bottom: 20px;
}
#hanyang-texts .duration {
    padding-bottom: 20px;
}
#hanyang-transcript {
    position: relative;
    display: inline-block; /* Ensure the element wraps its content */
    background: linear-gradient(90deg, #ffa12e, #ff97ce);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: 20px;
    margin-top: 10px;
    overflow: hidden; /* Prevents overflow */
    cursor: pointer;
}
span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animateBtn 1s linear infinite;
}
@keyframes animateBtn {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
.triangleSecond, .circleSecond {
    display: none;
}
@media screen and (min-width:750px){
    .containerEdu h3 {
        font-size: max(25px);
    }
    .educationSection {
        position: relative;
    }
    .circleSecond {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    .triangleSecond {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        animation: rotateTri 10s ease infinite;
    }
    @keyframes rotateTri {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
   
}